
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* --------------Header & Nav ------------- */

body {
    background-color: #d9dcd6;
}

.header {
    padding: 20px;
    width: 100%;
    background-color: #2a607c;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline;
    font-size: 48px;
    color: #ffffff;
}

nav {
    display: inline;
    float: right; 
    margin-right: 20px;
    padding-top: 20px;
}

.ul-item {
    display: inline;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding: 15px;
    list-style-type: none;
}

/* --------------Other---------------- */

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* --------------Services------------- */

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    margin-bottom: absolute;
    position: absolute;
}

.float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

.services {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.services img {
    max-height: 200px;
}

.services h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* --------------Benefits------------- */

aside {
    display: block;
}

.benefits {
    display: block;
    clear: both;
    float: right;
    margin-right: 20px;
    padding: 20px;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefits p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    color: #ffffff;
    text-align: left;
}

h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
    margin-top: 7px;
    color: #ffffff;
    text-align: center;
}

/* --------------Footer------------- */

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}

footer p {
    font-size: 16px;
}
